.section {
    margin-top: math.div($spacing-xs, 2);
    margin-bottom: math.div($spacing-xs, 2);
}
.content-centered {
    max-width: 80rem;
}
.align-right {
    display: flex;
    justify-content: flex-end;
}
.w-100 {
    width: 100%;
}