@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fonts
$main_font: 'Lato', sans-serif;

// Media Queries sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #050505;
$white: #FAFAFA;

$yellow: #E08709;;
$green: #71B100;
$darkGrey: #5A5A5A;
$grey: #808080;
$lightGrey: #d3d3d3;
$red: #bd0707;

$primary: #0d6efd;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;

// Links
// $link: rgba(0, 0, 0, 0.55);
// $link-hover: rgba(0, 0, 0, 0.7);
// $link-disabled: rgba(0, 0, 0, 0.3);
// $link-active: rgba(0, 0, 0, 0.9);
$link: rgba(255, 255, 255, 0.55);
$link-hover: rgba(255, 255, 255, 0.7);
$link-disabled: rgba(255, 255, 255, 0.3);
$link-active: rgba(255, 255, 255, 0.9);

$spacing: 1.5rem;
$spacing-long: 15rem;
$border: 2rem;

$thin: 300;
$regular: 400;
$bold: 700;
$bolder: 900